# Courier company Data File

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

 Reading all the files

In [2]:
order=pd.read_excel('Company X - Order Report.xlsx')
sku=pd.read_excel('Company X - SKU Master.xlsx')
invoice=pd.read_excel('Courier CompanyInvoice.xlsx')
rates=pd.read_excel('Courier Company - Rates.xlsx')

In [3]:
order

     ExternOrderNo            SKU  Order Qty
0       2001827036  8904223818706        1.0
1       2001827036  8904223819093        1.0
2       2001827036  8904223819109        1.0
3       2001827036  8904223818430        1.0
4       2001827036  8904223819277        1.0
..             ...            ...        ...
395     2001806229  8904223818942        1.0
396     2001806229  8904223818850        1.0
397     2001806226  8904223818850        2.0
398     2001806210  8904223816214        1.0
399     2001806210  8904223818874        1.0

[400 rows x 3 columns]

We will rename the 'ExternOrderNo' column to 'Order ID' before merging them

In [4]:
order.rename(columns={'ExternOrderNo':'Order ID'},inplace=True)

In [5]:
order

       Order ID            SKU  Order Qty
0    2001827036  8904223818706        1.0
1    2001827036  8904223819093        1.0
2    2001827036  8904223819109        1.0
3    2001827036  8904223818430        1.0
4    2001827036  8904223819277        1.0
..          ...            ...        ...
395  2001806229  8904223818942        1.0
396  2001806229  8904223818850        1.0
397  2001806226  8904223818850        2.0
398  2001806210  8904223816214        1.0
399  2001806210  8904223818874        1.0

[400 rows x 3 columns]

We will merge the order and invoice data

In [6]:
order_in=pd.merge(order,invoice)

In [7]:
df=pd.merge(order_in,sku)

In [8]:
df

,Order ID,SKU,Order Qty,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Weight (g)
0,2001827036,8904223818706,1.0,1091122418320,1.60,121003,173213,b,Forward charges,117.9,127
1,2001821995,8904223818706,1.0,1091121183730,0.50,121003,342008,d,Forward charges,45.4,127
2,2001819252,8904223818706,1.0,1091120352712,0.30,121003,174101,b,Forward charges,33.0,127
3,2001816996,8904223818706,1.0,1091119429202,0.50,121003,335512,d,Forward charges,45.4,127
4,2001814580,8904223818706,1.0,1091118925110,0.15,121003,322255,d,Forward and RTO charges,86.7,127
...,...,...,...,...,...,...,...,...,...,...,...
396,2001806616,8904223819123,1.0,1091117225484,1.08,121003,144001,b,Forward charges,89.6,250
397,2001806567,8904223815804,1.0,1091117224902,1.16,121003,370201,d,Forward charges,135.0,160
398,2001806567,8904223818577,1.0,1091117224902,1.16,121003,370201,d,Forward charges,135.0,150
399,2001806408,8904223819437,2.0,1091117222931,2.50,121003,532484,d,Forward charges,224.6,552
400,2001806232,8904223818645,6.0,1091117222124,1.30,121003,507101,d,Forward charges,135.0,137

Changing the weight from 'g' into 'kg'

In [9]:
df['Weight_kg']=df['Weight (g)']/1000

In [10]:
df

,Order ID,SKU,Order Qty,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Weight (g),Weight_kg
0,2001827036,8904223818706,1.0,1091122418320,1.60,121003,173213,b,Forward charges,117.9,127,0.127
1,2001821995,8904223818706,1.0,1091121183730,0.50,121003,342008,d,Forward charges,45.4,127,0.127
2,2001819252,8904223818706,1.0,1091120352712,0.30,121003,174101,b,Forward charges,33.0,127,0.127
3,2001816996,8904223818706,1.0,1091119429202,0.50,121003,335512,d,Forward charges,45.4,127,0.127
4,2001814580,8904223818706,1.0,1091118925110,0.15,121003,322255,d,Forward and RTO charges,86.7,127,0.127
...,...,...,...,...,...,...,...,...,...,...,...,...
396,2001806616,8904223819123,1.0,1091117225484,1.08,121003,144001,b,Forward charges,89.6,250,0.250
397,2001806567,8904223815804,1.0,1091117224902,1.16,121003,370201,d,Forward charges,135.0,160,0.160
398,2001806567,8904223818577,1.0,1091117224902,1.16,121003,370201,d,Forward charges,135.0,150,0.150
399,2001806408,8904223819437,2.0,1091117222931,2.50,121003,532484,d,Forward charges,224.6,552,0.552
400,2001806232,8904223818645,6.0,1091117222124,1.30,121003,507101,d,Forward charges,135.0,137,0.137

Creating New column naming Weight_slab and mutiply the Weight with Order column

In [11]:
df['Weight_Slab']=df['Weight_kg']*df['Order Qty']

In [12]:
df

,Order ID,SKU,Order Qty,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Weight (g),Weight_kg,Weight_Slab
0,2001827036,8904223818706,1.0,1091122418320,1.60,121003,173213,b,Forward charges,117.9,127,0.127,0.127
1,2001821995,8904223818706,1.0,1091121183730,0.50,121003,342008,d,Forward charges,45.4,127,0.127,0.127
2,2001819252,8904223818706,1.0,1091120352712,0.30,121003,174101,b,Forward charges,33.0,127,0.127,0.127
3,2001816996,8904223818706,1.0,1091119429202,0.50,121003,335512,d,Forward charges,45.4,127,0.127,0.127
4,2001814580,8904223818706,1.0,1091118925110,0.15,121003,322255,d,Forward and RTO charges,86.7,127,0.127,0.127
...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,2001806616,8904223819123,1.0,1091117225484,1.08,121003,144001,b,Forward charges,89.6,250,0.250,0.250
397,2001806567,8904223815804,1.0,1091117224902,1.16,121003,370201,d,Forward charges,135.0,160,0.160,0.160
398,2001806567,8904223818577,1.0,1091117224902,1.16,121003,370201,d,Forward charges,135.0,150,0.150,0.150
399,2001806408,8904223819437,2.0,1091117222931,2.50,121003,532484,d,Forward charges,224.6,552,0.552,1.104
400,2001806232,8904223818645,6.0,1091117222124,1.30,121003,507101,d,Forward charges,135.0,137,0.137,0.822

Replacing all the value with 500 gram in Weight slab column where the value is lower than 500 gram by running np.where condition

In [13]:
df.Weight_Slab = np.where(df.Weight_Slab<0.5,.5,df.Weight_Slab)

In [14]:
df

,Order ID,SKU,Order Qty,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Weight (g),Weight_kg,Weight_Slab
0,2001827036,8904223818706,1.0,1091122418320,1.60,121003,173213,b,Forward charges,117.9,127,0.127,0.500
1,2001821995,8904223818706,1.0,1091121183730,0.50,121003,342008,d,Forward charges,45.4,127,0.127,0.500
2,2001819252,8904223818706,1.0,1091120352712,0.30,121003,174101,b,Forward charges,33.0,127,0.127,0.500
3,2001816996,8904223818706,1.0,1091119429202,0.50,121003,335512,d,Forward charges,45.4,127,0.127,0.500
4,2001814580,8904223818706,1.0,1091118925110,0.15,121003,322255,d,Forward and RTO charges,86.7,127,0.127,0.500
...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,2001806616,8904223819123,1.0,1091117225484,1.08,121003,144001,b,Forward charges,89.6,250,0.250,0.500
397,2001806567,8904223815804,1.0,1091117224902,1.16,121003,370201,d,Forward charges,135.0,160,0.160,0.500
398,2001806567,8904223818577,1.0,1091117224902,1.16,121003,370201,d,Forward charges,135.0,150,0.150,0.500
399,2001806408,8904223819437,2.0,1091117222931,2.50,121003,532484,d,Forward charges,224.6,552,0.552,1.104
400,2001806232,8904223818645,6.0,1091117222124,1.30,121003,507101,d,Forward charges,135.0,137,0.137,0.822

Replacing all the value with 1 kg in Weight slab column where the value is more that 500 gram and lower than 1 kg by running np.where with multiple condition

In [15]:
df.Weight_Slab = np.where((df.Weight_Slab>0.5) & (df.Weight_Slab<1.0),1.0,df.Weight_Slab)

In [16]:
df

,Order ID,SKU,Order Qty,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Weight (g),Weight_kg,Weight_Slab
0,2001827036,8904223818706,1.0,1091122418320,1.60,121003,173213,b,Forward charges,117.9,127,0.127,0.500
1,2001821995,8904223818706,1.0,1091121183730,0.50,121003,342008,d,Forward charges,45.4,127,0.127,0.500
2,2001819252,8904223818706,1.0,1091120352712,0.30,121003,174101,b,Forward charges,33.0,127,0.127,0.500
3,2001816996,8904223818706,1.0,1091119429202,0.50,121003,335512,d,Forward charges,45.4,127,0.127,0.500
4,2001814580,8904223818706,1.0,1091118925110,0.15,121003,322255,d,Forward and RTO charges,86.7,127,0.127,0.500
...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,2001806616,8904223819123,1.0,1091117225484,1.08,121003,144001,b,Forward charges,89.6,250,0.250,0.500
397,2001806567,8904223815804,1.0,1091117224902,1.16,121003,370201,d,Forward charges,135.0,160,0.160,0.500
398,2001806567,8904223818577,1.0,1091117224902,1.16,121003,370201,d,Forward charges,135.0,150,0.150,0.500
399,2001806408,8904223819437,2.0,1091117222931,2.50,121003,532484,d,Forward charges,224.6,552,0.552,1.104
400,2001806232,8904223818645,6.0,1091117222124,1.30,121003,507101,d,Forward charges,135.0,137,0.137,1.000

Replacing all the value with 1.5 kg in Weight slab column where the value is more than 1 kg by running np.where condition

In [17]:
df.Weight_Slab = np.where(df.Weight_Slab>1.0,1.5,df.Weight_Slab)

In [18]:
df

,Order ID,SKU,Order Qty,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Weight (g),Weight_kg,Weight_Slab
0,2001827036,8904223818706,1.0,1091122418320,1.60,121003,173213,b,Forward charges,117.9,127,0.127,0.5
1,2001821995,8904223818706,1.0,1091121183730,0.50,121003,342008,d,Forward charges,45.4,127,0.127,0.5
2,2001819252,8904223818706,1.0,1091120352712,0.30,121003,174101,b,Forward charges,33.0,127,0.127,0.5
3,2001816996,8904223818706,1.0,1091119429202,0.50,121003,335512,d,Forward charges,45.4,127,0.127,0.5
4,2001814580,8904223818706,1.0,1091118925110,0.15,121003,322255,d,Forward and RTO charges,86.7,127,0.127,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,2001806616,8904223819123,1.0,1091117225484,1.08,121003,144001,b,Forward charges,89.6,250,0.250,0.5
397,2001806567,8904223815804,1.0,1091117224902,1.16,121003,370201,d,Forward charges,135.0,160,0.160,0.5
398,2001806567,8904223818577,1.0,1091117224902,1.16,121003,370201,d,Forward charges,135.0,150,0.150,0.5
399,2001806408,8904223819437,2.0,1091117222931,2.50,121003,532484,d,Forward charges,224.6,552,0.552,1.5
400,2001806232,8904223818645,6.0,1091117222124,1.30,121003,507101,d,Forward charges,135.0,137,0.137,1.0

Now run values count command to check where all the 3 condition's has been sucessfully applied

In [19]:
df.Weight_Slab.value_counts()

0.5    388
1.0     12
1.5      1
Name: Weight_Slab, dtype: int64

Imported new file with rates to add the foward and rto charges as per the zone.

In [20]:
rates

,fwd_a_fixed,fwd_a_additional,fwd_b_fixed,fwd_b_additional,fwd_c_fixed,fwd_c_additional,fwd_d_fixed,fwd_d_additional,fwd_e_fixed,fwd_e_additional,rto_a_fixed,rto_a_additional,rto_b_fixed,rto_b_additional,rto_c_fixed,rto_c_additional,rto_d_fixed,rto_d_additional,rto_e_fixed,rto_e_additional
0,29.5,23.6,33,28.3,40.1,38.9,45.4,44.8,56.6,55.5,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5

Now we have assigned new variable as x to bifurcate the zone b

In [21]:
x = df[df['Zone']== 'b']

In [22]:
x

,Order ID,SKU,Order Qty,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Weight (g),Weight_kg,Weight_Slab
0,2001827036,8904223818706,1.0,1091122418320,1.60,121003,173213,b,Forward charges,117.9,127,0.127,0.5
2,2001819252,8904223818706,1.0,1091120352712,0.30,121003,174101,b,Forward charges,33.0,127,0.127,0.5
9,2001811475,8904223818706,1.0,1091121844806,0.50,121003,173212,b,Forward charges,33.0,127,0.127,0.5
18,2001809592,8904223818706,1.0,1091117616121,1.50,121003,244713,b,Forward charges,89.6,127,0.127,0.5
25,2001808585,8904223818706,1.0,1091117436652,0.72,121003,175101,b,Forward charges,61.3,127,0.127,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,2001806233,8904223819260,1.0,1091117222135,0.78,121003,263139,b,Forward charges,61.3,130,0.130,0.5
392,2001807415,8904223818713,1.0,1091117325094,1.00,121003,208001,b,Forward charges,61.3,120,0.120,0.5
393,2001807058,8904223818713,1.0,1091117323112,1.15,121003,140301,b,Forward charges,89.6,120,0.120,0.5
394,2001806616,8904223818713,1.0,1091117225484,1.08,121003,144001,b,Forward charges,89.6,120,0.120,0.5
396,2001806616,8904223819123,1.0,1091117225484,1.08,121003,144001,b,Forward charges,89.6,250,0.250,0.5

We have created a new column as Expected charges in reference to the type of shipments

In [23]:
x['Expected_charges']=x['Type of Shipment']

Run np. where command and change the Foward charges and Forward RTO charges with the charges referring to the rates file

In [24]:
x['Expected_charges']=np.where(x['Expected_charges']=='Forward charges',61.3,x['Expected_charges'])

In [25]:
x['Expected_charges']=np.where(x['Expected_charges']=='Forward and RTO charges',110.1,x['Expected_charges'])

Created another column as Difference to check that if the person is correctly charged, over charged, under charged for zone b

In [26]:
x['Difference'] = x['Expected_charges']-x['Billing Amount (Rs.)']

In [27]:
x

,Order ID,SKU,Order Qty,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Weight (g),Weight_kg,Weight_Slab,Expected_charges,Difference
0,2001827036,8904223818706,1.0,1091122418320,1.60,121003,173213,b,Forward charges,117.9,127,0.127,0.5,61.3,-56.6
2,2001819252,8904223818706,1.0,1091120352712,0.30,121003,174101,b,Forward charges,33.0,127,0.127,0.5,61.3,28.3
9,2001811475,8904223818706,1.0,1091121844806,0.50,121003,173212,b,Forward charges,33.0,127,0.127,0.5,61.3,28.3
18,2001809592,8904223818706,1.0,1091117616121,1.50,121003,244713,b,Forward charges,89.6,127,0.127,0.5,61.3,-28.3
25,2001808585,8904223818706,1.0,1091117436652,0.72,121003,175101,b,Forward charges,61.3,127,0.127,0.5,61.3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,2001806233,8904223819260,1.0,1091117222135,0.78,121003,263139,b,Forward charges,61.3,130,0.130,0.5,61.3,0.0
392,2001807415,8904223818713,1.0,1091117325094,1.00,121003,208001,b,Forward charges,61.3,120,0.120,0.5,61.3,0.0
393,2001807058,8904223818713,1.0,1091117323112,1.15,121003,140301,b,Forward charges,89.6,120,0.120,0.5,61.3,-28.3
394,2001806616,8904223818713,1.0,1091117225484,1.08,121003,144001,b,Forward charges,89.6,120,0.120,0.5,61.3,-28.3
396,2001806616,8904223819123,1.0,1091117225484,1.08,121003,144001,b,Forward charges,89.6,250,0.250,0.5,61.3,-28.3

Now we have assigned new variable as y to bifurcate the zone d

In [28]:
y = df[df['Zone']== 'd']

In [29]:
y

,Order ID,SKU,Order Qty,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Weight (g),Weight_kg,Weight_Slab
1,2001821995,8904223818706,1.0,1091121183730,0.50,121003,342008,d,Forward charges,45.4,127,0.127,0.5
3,2001816996,8904223818706,1.0,1091119429202,0.50,121003,335512,d,Forward charges,45.4,127,0.127,0.5
4,2001814580,8904223818706,1.0,1091118925110,0.15,121003,322255,d,Forward and RTO charges,86.7,127,0.127,0.5
5,2001813009,8904223818706,1.0,1091118553701,1.00,121003,313001,d,Forward charges,90.2,127,0.127,0.5
6,2001812941,8904223818706,1.0,1091118551656,0.73,121003,325207,d,Forward charges,90.2,127,0.127,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,2001807328,8904223818997,1.0,1091117324346,2.28,121003,335502,d,Forward charges,224.6,490,0.490,0.5
397,2001806567,8904223815804,1.0,1091117224902,1.16,121003,370201,d,Forward charges,135.0,160,0.160,0.5
398,2001806567,8904223818577,1.0,1091117224902,1.16,121003,370201,d,Forward charges,135.0,150,0.150,0.5
399,2001806408,8904223819437,2.0,1091117222931,2.50,121003,532484,d,Forward charges,224.6,552,0.552,1.5
400,2001806232,8904223818645,6.0,1091117222124,1.30,121003,507101,d,Forward charges,135.0,137,0.137,1.0

We have created a new column as Expected charges in reference to the type of shipments

In [30]:
y['Expected_charges']=y['Type of Shipment']

In [31]:
y

,Order ID,SKU,Order Qty,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Weight (g),Weight_kg,Weight_Slab,Expected_charges
1,2001821995,8904223818706,1.0,1091121183730,0.50,121003,342008,d,Forward charges,45.4,127,0.127,0.5,Forward charges
3,2001816996,8904223818706,1.0,1091119429202,0.50,121003,335512,d,Forward charges,45.4,127,0.127,0.5,Forward charges
4,2001814580,8904223818706,1.0,1091118925110,0.15,121003,322255,d,Forward and RTO charges,86.7,127,0.127,0.5,Forward and RTO charges
5,2001813009,8904223818706,1.0,1091118553701,1.00,121003,313001,d,Forward charges,90.2,127,0.127,0.5,Forward charges
6,2001812941,8904223818706,1.0,1091118551656,0.73,121003,325207,d,Forward charges,90.2,127,0.127,0.5,Forward charges
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,2001807328,8904223818997,1.0,1091117324346,2.28,121003,335502,d,Forward charges,224.6,490,0.490,0.5,Forward charges
397,2001806567,8904223815804,1.0,1091117224902,1.16,121003,370201,d,Forward charges,135.0,160,0.160,0.5,Forward charges
398,2001806567,8904223818577,1.0,1091117224902,1.16,121003,370201,d,Forward charges,135.0,150,0.150,0.5,Forward charges
399,2001806408,8904223819437,2.0,1091117222931,2.50,121003,532484,d,Forward charges,224.6,552,0.552,1.5,Forward charges
400,2001806232,8904223818645,6.0,1091117222124,1.30,121003,507101,d,Forward charges,135.0,137,0.137,1.0,Forward charges

Run np. where command and change the Foward charges and Forward RTO charges with the charges referring to the rates file

In [32]:
y['Expected_charges']=np.where(y['Expected_charges']=='Forward charges',90.2,y['Expected_charges'])

In [33]:
y['Expected_charges']=np.where(y['Expected_charges']=='Forward and RTO charges',176.3,y['Expected_charges'])

Created another column as Difference to check that if the person is correctly charged, over charged, under charged for zone d

In [34]:
y['Difference']= y['Expected_charges']-y['Billing Amount (Rs.)']

In [35]:
y

,Order ID,SKU,Order Qty,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Weight (g),Weight_kg,Weight_Slab,Expected_charges,Difference
1,2001821995,8904223818706,1.0,1091121183730,0.50,121003,342008,d,Forward charges,45.4,127,0.127,0.5,90.2,44.8
3,2001816996,8904223818706,1.0,1091119429202,0.50,121003,335512,d,Forward charges,45.4,127,0.127,0.5,90.2,44.8
4,2001814580,8904223818706,1.0,1091118925110,0.15,121003,322255,d,Forward and RTO charges,86.7,127,0.127,0.5,176.3,89.6
5,2001813009,8904223818706,1.0,1091118553701,1.00,121003,313001,d,Forward charges,90.2,127,0.127,0.5,90.2,0.0
6,2001812941,8904223818706,1.0,1091118551656,0.73,121003,325207,d,Forward charges,90.2,127,0.127,0.5,90.2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,2001807328,8904223818997,1.0,1091117324346,2.28,121003,335502,d,Forward charges,224.6,490,0.490,0.5,90.2,-134.4
397,2001806567,8904223815804,1.0,1091117224902,1.16,121003,370201,d,Forward charges,135.0,160,0.160,0.5,90.2,-44.8
398,2001806567,8904223818577,1.0,1091117224902,1.16,121003,370201,d,Forward charges,135.0,150,0.150,0.5,90.2,-44.8
399,2001806408,8904223819437,2.0,1091117222931,2.50,121003,532484,d,Forward charges,224.6,552,0.552,1.5,90.2,-134.4
400,2001806232,8904223818645,6.0,1091117222124,1.30,121003,507101,d,Forward charges,135.0,137,0.137,1.0,90.2,-44.8

Now we have assigned new variable as z to bifurcate the zone e

In [36]:
z = df[df['Zone']== 'e']

In [37]:
z

,Order ID,SKU,Order Qty,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Weight (g),Weight_kg,Weight_Slab
268,2001818390,8904223818683,1.0,1091120014461,0.8,121003,783301,e,Forward and RTO charges,213.5,121,0.121,0.5
288,2001818390,8904223819147,1.0,1091120014461,0.8,121003,783301,e,Forward and RTO charges,213.5,240,0.240,0.5
304,2001818390,8904223818935,4.0,1091120014461,0.8,121003,783301,e,Forward and RTO charges,213.5,120,0.120,0.5
383,2001808295,8904223819161,1.0,1091117435661,0.2,121003,673002,e,Forward and RTO charges,107.3,115,0.115,0.5
387,2001808295,8904223819260,1.0,1091117435661,0.2,121003,673002,e,Forward and RTO charges,107.3,130,0.130,0.5

we have created a new column as Expected charges and add all the forward and RTO charges referring to the rates sheet for zone e

In [38]:
z['Expected_charges'] = 55.5+55.5+56.6+50.7

Created another column as Difference to check that if the person is correctly charged, over charged, under charged for zone e

In [39]:
z['Difference']=z['Expected_charges']-z['Billing Amount (Rs.)']

In [40]:
z

,Order ID,SKU,Order Qty,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Weight (g),Weight_kg,Weight_Slab,Expected_charges,Difference
268,2001818390,8904223818683,1.0,1091120014461,0.8,121003,783301,e,Forward and RTO charges,213.5,121,0.121,0.5,218.3,4.8
288,2001818390,8904223819147,1.0,1091120014461,0.8,121003,783301,e,Forward and RTO charges,213.5,240,0.240,0.5,218.3,4.8
304,2001818390,8904223818935,4.0,1091120014461,0.8,121003,783301,e,Forward and RTO charges,213.5,120,0.120,0.5,218.3,4.8
383,2001808295,8904223819161,1.0,1091117435661,0.2,121003,673002,e,Forward and RTO charges,107.3,115,0.115,0.5,218.3,111.0
387,2001808295,8904223819260,1.0,1091117435661,0.2,121003,673002,e,Forward and RTO charges,107.3,130,0.130,0.5,218.3,111.0

Now concating all the different variables in one variable as w

In [41]:
w=pd.concat([x,y,z],axis=0)

Applied condition to chech the correctly charged for the person.

In [42]:
w[w['Difference']==0.0]

,Order ID,SKU,Order Qty,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Weight (g),Weight_kg,Weight_Slab,Expected_charges,Difference
25,2001808585,8904223818706,1.0,1091117436652,0.72,121003,175101,b,Forward charges,61.3,127,0.127,0.5,61.3,0.0
27,2001808507,8904223818706,1.0,1091117436383,0.79,121003,208002,b,Forward charges,61.3,127,0.127,0.5,61.3,0.0
34,2001807814,8904223818706,1.0,1091117326612,0.79,121003,284001,b,Forward charges,61.3,127,0.127,0.5,61.3,0.0
49,2001806575,8904223818706,1.0,1091117225016,0.68,121003,248001,b,Forward charges,61.3,127,0.127,0.5,61.3,0.0
50,2001806547,8904223818706,1.0,1091117224611,1.00,121003,283102,b,Forward charges,61.3,127,0.127,0.5,61.3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,2001811363,8904223815873,1.0,1091117958395,0.59,121003,321608,d,Forward charges,90.2,65,0.065,0.5,90.2,0.0
368,2001807960,8904223819505,1.0,1091117327312,1.00,121003,485001,d,Forward charges,90.2,210,0.210,0.5,90.2,0.0
370,2001811229,8904223819345,1.0,1091117957942,0.60,121003,324001,d,Forward charges,90.2,165,0.165,0.5,90.2,0.0
377,2001808801,8904223815866,2.0,1091117437680,0.80,121003,335001,d,Forward charges,90.2,113,0.113,0.5,90.2,0.0
379,2001808801,8904223815682,1.0,1091117437680,0.80,121003,335001,d,Forward charges,90.2,210,0.210,0.5,90.2,0.0

Applied condition to chech the correctly overcharged for the person.

In [43]:
w[w['Difference']<0.0]

,Order ID,SKU,Order Qty,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Weight (g),Weight_kg,Weight_Slab,Expected_charges,Difference
0,2001827036,8904223818706,1.0,1091122418320,1.60,121003,173213,b,Forward charges,117.9,127,0.127,0.5,61.3,-56.6
18,2001809592,8904223818706,1.0,1091117616121,1.50,121003,244713,b,Forward charges,89.6,127,0.127,0.5,61.3,-28.3
31,2001807956,8904223818706,1.0,1091117327275,1.08,121003,248006,b,Forward charges,89.6,127,0.127,0.5,61.3,-28.3
45,2001806776,8904223818706,1.0,1091117227573,2.86,121003,226004,b,Forward charges,174.5,127,0.127,0.5,61.3,-113.2
59,2001827036,8904223819093,1.0,1091122418320,1.60,121003,173213,b,Forward charges,117.9,150,0.150,0.5,61.3,-56.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,2001807328,8904223818997,1.0,1091117324346,2.28,121003,335502,d,Forward charges,224.6,490,0.490,0.5,90.2,-134.4
397,2001806567,8904223815804,1.0,1091117224902,1.16,121003,370201,d,Forward charges,135.0,160,0.160,0.5,90.2,-44.8
398,2001806567,8904223818577,1.0,1091117224902,1.16,121003,370201,d,Forward charges,135.0,150,0.150,0.5,90.2,-44.8
399,2001806408,8904223819437,2.0,1091117222931,2.50,121003,532484,d,Forward charges,224.6,552,0.552,1.5,90.2,-134.4
400,2001806232,8904223818645,6.0,1091117222124,1.30,121003,507101,d,Forward charges,135.0,137,0.137,1.0,90.2,-44.8

Applied condition to chech the correctly undercharged for the person.

In [44]:
w[w['Difference']>0.0]

,Order ID,SKU,Order Qty,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Weight (g),Weight_kg,Weight_Slab,Expected_charges,Difference
2,2001819252,8904223818706,1.0,1091120352712,0.3,121003,174101,b,Forward charges,33.0,127,0.127,0.5,61.3,28.3
9,2001811475,8904223818706,1.0,1091121844806,0.5,121003,173212,b,Forward charges,33.0,127,0.127,0.5,61.3,28.3
79,2001819252,SACHETS001,1.0,1091120352712,0.3,121003,174101,b,Forward charges,33.0,10,0.010,0.5,61.3,28.3
109,2001811475,8904223818669,1.0,1091121844806,0.5,121003,173212,b,Forward charges,33.0,240,0.240,0.5,61.3,28.3
118,2001812838,8904223819031,4.0,1091118547832,0.6,121003,262405,b,Forward and RTO charges,102.3,112,0.112,0.5,110.1,7.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,2001818390,8904223818683,1.0,1091120014461,0.8,121003,783301,e,Forward and RTO charges,213.5,121,0.121,0.5,218.3,4.8
288,2001818390,8904223819147,1.0,1091120014461,0.8,121003,783301,e,Forward and RTO charges,213.5,240,0.240,0.5,218.3,4.8
304,2001818390,8904223818935,4.0,1091120014461,0.8,121003,783301,e,Forward and RTO charges,213.5,120,0.120,0.5,218.3,4.8
383,2001808295,8904223819161,1.0,1091117435661,0.2,121003,673002,e,Forward and RTO charges,107.3,115,0.115,0.5,218.3,111.0
387,2001808295,8904223819260,1.0,1091117435661,0.2,121003,673002,e,Forward and RTO charges,107.3,130,0.130,0.5,218.3,111.0

All Question's has been done